*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
   display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
 }

 .card{
    position: relative;
    width: 320px;
    height: 370px;
 }


 .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
 }
 .card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 2px 3px 8px rgba(206, 74, 233,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .card .front img {
     position: absolute;
     width: 98%;
     height: 92%;
     object-fit: contain;
     align-self: center;
     z-index: -1;
 }
 

 .card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #001;
    background: rgba(0, 0, 0, 0.4);
    align-self: center;
    z-index: 100;
 }
 .card .front h4{
    color: #01efa0;
    margin-top:   10px;
 }


 .card .back {
    text-align: center;
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 58);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
   text-align: center;
   box-shadow: -1.5px -5px 6px #a201ef;
 }





 .card .back h3{
    font-size: 25px;
    margin-top: 10px;
    letter-spacing: 1.8px;
    margin-bottom:  15px;
 }





 .card:hover .front {
    transform: perspective(600px) rotateY(180deg)
 }


 .card:hover .back {
    transform: perspective(600px) rotateY(360deg)
 }